@media (max-width: 1280px) {
    .products {
        padding: 130px 0 100px 0;
    }

    .production {
        padding: 60px 0 100px 0;
    }

    .services, .contacts {
        padding: 100px 0;
    }
}

@media (max-width: 991px) {
    .title1 {
        @include adaptiv-font(52, 25);
    }
    .title2 {
        @include adaptiv-font(36, 23);
    }
    
    .header {
        padding: 20px 0;
        margin: 0 15px;
        .logo {
            img {
                max-width: 140px;
            }
        }

        &._inner-page {
            padding: 20px 15px;
            .language__dropdown-list {
                background: rgba(0, 0, 0, 0.35);
                padding: 5px 8px 0 0;
                right: 41%;
            }
            .language._active {
                .language__dropdown-list {
                    top: 90%;
                }
            }
        }
    }

    .menu {
        &._dropdown {
            top: 10px;
        }
    }

    .tel {
        margin: 20px 30px 0 30px !important;
        img {
            display: none;
        }
        a {
            padding: 0 !important;
            margin: 0;
        }
    }

    .search {
        span {
            display: none;
        }
        &._active {
            .header__btn {
                width: auto;
            }
        }
    }

    .hero {
        &__img {
            object-fit: cover;
            width: 50%;
        }
    }

    .products {
        padding-top: 90px;

        &__header {
            padding-bottom: 50px;
        }
        .label {
            margin-top: 0;
            margin-bottom: 10px;
        }
        &__title {
            margin-bottom: 20px;
            br {
                display: none;
            }
        }

        &__list-item {
            padding: 30px 40px;
            min-height: 280px;
        }
        &__item-title {
            margin-bottom: 20px;
        }
        &__item-text {
            max-width: 80%;
        }
        &__item-img {
            height: auto;
            max-width: 95px;
        }
    }

    .production {
        padding-top: 0;

        &__title {
            margin: 10px 0 20px 0;
        }
        [class*="col"] {
            &:first-child {
                padding-right: 12px;
                margin-bottom: 50px;
            }
            &:last-child {
                padding-left: 12px;
            }
        }
        &__img {
            max-width: 400px;
            width: 80%;
        }
        &__link-block {
            width: 25%;
        }
    }

    .services {
        padding: 80px 0 100px 0;

        &__header {
            margin-bottom: 50px;
        }
        &__title {
            margin: 0;
            br {
                display: none;
            }
        }
        .label {
            margin-top: 0;
            margin-bottom: 10px;
        }

        &__list-item {
            padding: 30px;
            min-height: 390px;
        }
        &__item-title {
            margin-bottom: 20px;
        }
    }

    .contacts {
        .label {
            margin-bottom: 10px;
        }

        &:not(._home) {
            .contacts__map {
                position: relative !important;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                max-height: 340px;
                img {
                    transform: scale(2);
                }
            }
            .contacts__left {
                padding: 50px 0 36px 0;
            }
        }
    }

    .contact-form {
        .col {
            &:first-child {
                padding-right: calc(var(--bs-gutter-x) * .5);
            }
            &:last-child {
                padding-left: calc(var(--bs-gutter-x) * .5);
            }
        }
        &__img-wrap {
            img {
                max-height: 500px;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__btn {
            &._menu {
                padding-left: 0;
                > span {
                    display: none;
                }
            }
        }
        .logo {
            left: 40px;
            transform: translateX(0);
            img {
                max-width: 120px;
            }
        }

        &._inner-page {
            .language__dropdown-list {
                right: 25%;
            }
        }
    }
    
    .menu {
        &._dropdown {
            left: -10px;
            .menu__list {
                padding-top: 45px;
            }
            .menu__list-item a {
                padding: 0 30px;
            }
        }
    }

    .language {
        width: auto;
        .header__btn {
            padding-right: 0;
        }
        &__dropdown-list {
            right: 37%;
            transform: translateX(0);
        }
    }

    .search {
        width: 156px;
        margin-right: 0;
        &._active {
            .search__field {
                width: 132px;
            }
        }
    }

    .hero {
        height: 90vh;
        &__img {
            opacity: 0.85;
        }
        .title1 {
            margin-bottom: 15px;
        }
    }

    .products {
        &__list {
            row-gap: 15px;
        }
        &__list-item {
            padding: 20px;
        }
        &__item-link {
            margin-top: 25px;
        }
        &__item-img {
            max-width: 75px;
        }
    }

    .production {
        &__link-block {
            padding: 10px;
            span {
                display: none;
            }
        }
    }

    .services {
        &__list {
            row-gap: 15px;
        }
        &__list-item {
            padding: 20px;
            min-height: 280px;
        }
    }

    .contacts {
        &__form-wrap {
            padding: 25px;
        }
        &__form {
            margin-top: 30px;
        }
        &__form-field {
            margin-bottom: 15px;
        }
        &__policy {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    .staff {
        .contacts__staff-item {
            padding: 20px 0;
            &-content {
                padding: 30px 20px;
            }
            &-name, &-tel {
                font-size: 20px;
            }
        }
    }

    .contact-form {
        &__img-wrap {
            > div {
                width: 100px;
            }
            img {
                max-height: 340px;
            }
        }
    }

    .footer {
        padding: 80px 0 60px 0;
    }
}