$maxWidth: 1210; //ширина контейнера

$primary: #202740; //основной цвет
$text-color: #333E66; //цвет обычного текста
$text-color2: #fff; //второй цвет текста
$accent: #4D5D99; //акцентный цвет
$second-accent: #0092E7; //второй акцентный цвет
$gray: #F3F6F8; //серый цвет
$gray2: #A4ACB1; //серый цвет 2
$white: #fff;